<!DOCTYPE html>
<html>
	<head>
		<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
	</head>
	<body>
		<h1>Estimado <%= @user.name %></h1>
		<br>
		<h1>Un usuario te ha seguido en nuestra página!!!!!</h1>
	</body>
</html>